In [1]:
import pandas as pd

from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

from sklearn.metrics import accuracy_score

In [2]:
#to read from file
Sodium_data = pd.read_csv ("Sodium_data.csv")
Sodium_data

,Gender,age,Daily Sodium intake,Hypertension,Daily Sodium Limit (mg),Exceed limit or not
0,Male,14 and above,1907,No,2300,Normal sodium consumption
1,Male,14 and above,2503,Yes,1500,High sodium consumption
2,Female,14 and above,2574,Yes,1500,High sodium consumption
3,Female,9 to 13,2328,No,2200,High sodium consumption
4,Female,2 to 3,1730,No,1500,High sodium consumption
...,...,...,...,...,...,...
194,Female,9 to 13,1571,No,2200,Normal sodium consumption
195,Female,9 to 13,2376,No,2200,High sodium consumption
196,Female,4 to 8,1780,No,1900,Normal sodium consumption
197,Male,14 and above,2244,No,2300,Normal sodium consumption
198,Male,9 to 13,2460,No,2200,High sodium consumption

In [3]:
Sodium_data.columns

Index(['Gender', 'age', 'Daily Sodium intake', 'Hypertension',
       'Daily Sodium Limit (mg)', 'Exceed limit or not'],
      dtype='object')

In [4]:
Sodium_data.Hypertension.unique()

array(['No', 'Yes'], dtype=object)

In [5]:
Sodium_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Gender                   199 non-null    object
 1   age                      199 non-null    object
 2   Daily Sodium intake      199 non-null    int64
 3   Hypertension             199 non-null    object
 4   Daily Sodium Limit (mg)  199 non-null    int64
 5   Exceed limit or not      199 non-null    object
dtypes: int64(2), object(4)
memory usage: 9.5+ KB

In [8]:
limit = Sodium_data[['Daily Sodium Limit (mg)' , 
                 'Exceed limit or not']]
limit['Daily Sodium Limit (mg)'].unique()

array([2300, 1500, 2200, 1900], dtype=int64)

In [9]:
limit.head(20)

    Daily Sodium Limit (mg)        Exceed limit or not
0                      2300  Normal sodium consumption
1                      1500    High sodium consumption
2                      1500    High sodium consumption
3                      2200    High sodium consumption
4                      1500    High sodium consumption
5                      2200    High sodium consumption
6                      1900  Normal sodium consumption
7                      2300  Normal sodium consumption
8                      2200  Normal sodium consumption
9                      1500    High sodium consumption
10                     2200    High sodium consumption
11                     2200  Normal sodium consumption
12                     2300  Normal sodium consumption
13                     2200  Normal sodium consumption
14                     1900  Normal sodium consumption
15                     2200  Normal sodium consumption
16                     1900  Normal sodium consumption
17                     1500    High sodium consumption
18                     1500    High sodium consumption
19                     1900    High sodium consumption

In [11]:
limit['Exceed limit or not'].unique()

array(['Normal sodium consumption', 'High sodium consumption'],
      dtype=object)

In [6]:
x = Sodium_data[['Gender' , 
                 'age' ,
                 'Daily Sodium intake',
           'Hypertension']]
y = Sodium_data[[ 'Daily Sodium Limit (mg)']]

In [7]:
data = x

In [8]:
categ = list(data.select_dtypes(include=['object']).columns)

In [9]:
# Encode Categorical Columns
le = preprocessing.LabelEncoder()
data[categ] = data[categ].apply(le.fit_transform)

C:\Users\SCM\anaconda3\lib\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [10]:
bools = list(data.select_dtypes(include=['bool']).columns)

In [11]:
data[bools] = data[bools].astype(int)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Gender               199 non-null    int32
 1   age                  199 non-null    int32
 2   Daily Sodium intake  199 non-null    int64
 3   Hypertension         199 non-null    int32
dtypes: int32(3), int64(1)
memory usage: 4.0 KB

In [13]:
data

     Gender  age  Daily Sodium intake  Hypertension
0         1    0                 1907             0
1         1    0                 2503             1
2         0    0                 2574             1
3         0    3                 2328             0
4         0    1                 1730             0
..      ...  ...                  ...           ...
194       0    3                 1571             0
195       0    3                 2376             0
196       0    2                 1780             0
197       1    0                 2244             0
198       1    3                 2460             0

[199 rows x 4 columns]

In [14]:
x_train , x_test , y_train , y_test = train_test_split (data , y , test_size = 0.3 , train_size = 0.7 , random_state = 0)

In [15]:
print ("Train Data x Shape: " , x_train.shape)
print ("Test Data x Shape: " , x_test.shape)
print ("Train Data y Shape: " , y_train.shape)
print ("Test Data y Shape: " , y_test.shape)

Train Data x Shape:  (139, 4)
Test Data x Shape:  (60, 4)
Train Data y Shape:  (139, 1)
Test Data y Shape:  (60, 1)

In [16]:
Random_Forest_Classifier = RandomForestClassifier( n_estimators = 75 , max_leaf_nodes = 5 , n_jobs = -1 )
Random_Forest_Classifier

RandomForestClassifier(max_leaf_nodes=5, n_estimators=75, n_jobs=-1)

In [17]:
Random_Forest_Classifier.fit( x_train , y_train.values.ravel() )

RandomForestClassifier(max_leaf_nodes=5, n_estimators=75, n_jobs=-1)

In [18]:
Predict_Value_Of_Random_Forest_Classifier = Random_Forest_Classifier.predict( x_test )
Predict_Value_Of_Random_Forest_Classifier

array([1500, 2200, 2300, 1900, 2200, 2200, 2200, 1500, 2300, 2200, 2200,
       1900, 1500, 1900, 1900, 2300, 2200, 1900, 1500, 1900, 1900, 1900,
       2200, 1900, 1900, 2300, 1900, 2200, 2200, 1900, 1900, 2200, 2200,
       1900, 2200, 2200, 1500, 2300, 1900, 2300, 1900, 2200, 1900, 1900,
       2200, 2200, 2200, 1900, 1900, 1900, 1900, 1900, 2300, 2200, 2200,
       2200, 2300, 1500, 1900, 2200], dtype=int64)

In [19]:
print( "Accuracy : " , accuracy_score( y_test , Predict_Value_Of_Random_Forest_Classifier )*100 , "%" )

Accuracy :  93.33333333333333 %

In [20]:
Logistic_Regression = LogisticRegression( n_jobs = -1 , C = 0.1 , penalty = 'l2' )
Logistic_Regression

LogisticRegression(C=0.1, n_jobs=-1)

In [21]:
Logistic_Regression.fit( x_train , y_train.values.ravel() )

LogisticRegression(C=0.1, n_jobs=-1)

In [22]:
Predicted_Value_Of_Logistic_Regression = Logistic_Regression.predict( x_test )
Predicted_Value_Of_Logistic_Regression

array([1500, 2200, 1900, 1900, 2200, 2200, 2200, 1900, 2300, 2200, 2200,
       1900, 1500, 2200, 1900, 2300, 2200, 1900, 1500, 1900, 1900, 1900,
       2200, 1900, 1900, 2300, 1900, 2200, 2200, 2200, 1900, 2200, 2200,
       1900, 1900, 2200, 1500, 1900, 2200, 1900, 2200, 2200, 1900, 2200,
       2200, 2200, 2200, 1900, 1900, 1900, 1900, 1900, 2300, 2200, 2200,
       2200, 1900, 1500, 1900, 2200], dtype=int64)

In [23]:
print('Accuracy : ' , accuracy_score( y_test , Predicted_Value_Of_Logistic_Regression )*100 , "%" )

Accuracy :  81.66666666666667 %

In [24]:
from sklearn.ensemble import GradientBoostingClassifier

In [25]:
gb_clf2 = GradientBoostingClassifier(n_estimators=20, learning_rate=0.5, max_features=2, max_depth=2, random_state=0)
gb_clf2.fit(x_train, y_train)
predictions = gb_clf2.predict(x_test)
predictions

C:\Users\SCM\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

array([1500, 2200, 1900, 1900, 2200, 2200, 2200, 1500, 2300, 2200, 2200,
       1900, 1500, 1900, 1900, 2300, 2200, 1900, 1500, 1900, 1900, 1900,
       2200, 1900, 1900, 2300, 1900, 2200, 2200, 1900, 1900, 2200, 2200,
       1900, 2200, 2200, 1500, 1900, 1900, 1500, 1900, 2200, 1900, 1900,
       2200, 2200, 2200, 1900, 1900, 1900, 1900, 1900, 2300, 2200, 2200,
       2200, 1500, 1500, 1900, 2200], dtype=int64)

In [26]:
print('Accuracy : ' , accuracy_score( y_test , predictions )*100 , "%" )

Accuracy :  96.66666666666667 %

In [27]:
Support_Vector_Machine = SVC( kernel = 'linear' )

Support_Vector_Machine.fit( x_train , y_train.values.ravel() )

Predicted_Value_Of_Support_Vector_Machine = Support_Vector_Machine.predict( x_test )
Predicted_Value_Of_Support_Vector_Machine

array([1500, 2200, 1500, 1900, 2200, 2200, 2200, 2300, 2300, 2200, 2200,
       1900, 1500, 1900, 1900, 2300, 2200, 1900, 1500, 1900, 1900, 1900,
       2200, 1900, 1900, 2300, 1900, 2200, 2200, 1900, 1900, 2200, 2200,
       1900, 2200, 2200, 1500, 2300, 1900, 1500, 1900, 2200, 1900, 1900,
       2200, 2200, 2200, 1900, 1900, 1900, 1900, 1900, 2300, 2200, 2200,
       2200, 1500, 1500, 1900, 2200], dtype=int64)

In [28]:
print( "Accuracy : " , accuracy_score( Predicted_Value_Of_Support_Vector_Machine , y_test )*100 , "%" )

Accuracy :  96.66666666666667 %

In [29]:
Naive_Bayes = GaussianNB()
Naive_Bayes.fit( x_train , y_train.values.ravel() )
Predicted_Value_Of_Naive_Bayes = Naive_Bayes.predict( x_test )
Predicted_Value_Of_Naive_Bayes

array([1500, 2200, 1500, 1900, 2200, 2200, 2200, 1500, 2300, 2200, 2200,
       1900, 1500, 1900, 1900, 2300, 2200, 1900, 1500, 1900, 1900, 1900,
       2200, 1900, 1900, 2300, 1900, 2200, 2200, 1900, 1900, 2200, 2200,
       1900, 2200, 2200, 1500, 1500, 1900, 1500, 1900, 2200, 1900, 1900,
       2200, 2200, 2200, 1900, 1900, 1900, 1900, 1900, 2300, 2200, 2200,
       2200, 1500, 1500, 1900, 2200], dtype=int64)

In [30]:
print("Accuracy : " , accuracy_score( y_test , Predicted_Value_Of_Naive_Bayes )*100 , "%" )

Accuracy :  100.0 %

In [31]:
Decision_Tree_Classifier = DecisionTreeClassifier( criterion = 'entropy', random_state = 0 )

Decision_Tree_Classifier.fit( x_train , y_train.values.ravel() )

Predicted_Value_Of_Decision_Tree = Decision_Tree_Classifier.predict( x_test )
Predicted_Value_Of_Decision_Tree

array([1500, 2200, 1500, 1900, 2200, 2200, 2200, 1500, 2300, 2200, 2200,
       1900, 1500, 1900, 1900, 2300, 2200, 1900, 1500, 1900, 1900, 1900,
       2200, 1900, 1900, 2300, 1900, 2200, 2200, 1900, 1900, 2200, 2200,
       1900, 2200, 2200, 1500, 1500, 1900, 1500, 1900, 2200, 1900, 1900,
       2200, 2200, 2200, 1900, 1900, 1900, 1900, 1900, 2300, 2200, 2200,
       2200, 1500, 1500, 1900, 2200], dtype=int64)

In [32]:
print( "Accuracy : " , accuracy_score( y_test , Predicted_Value_Of_Decision_Tree)*100 , "%" )

Accuracy :  100.0 %

In [33]:
K_Neighbors_Classifier = KNeighborsClassifier( n_neighbors = 5, metric = 'minkowski', p = 2 )

K_Neighbors_Classifier.fit( x_train , y_train.values.ravel() )

Predicted_Value_of_K_Neighbors_Classifier = K_Neighbors_Classifier.predict( x_test )
Predicted_Value_of_K_Neighbors_Classifier

array([1500, 2200, 2200, 2200, 2300, 2300, 1900, 1900, 2300, 2200, 2300,
       2200, 1500, 2300, 2200, 1900, 2200, 2200, 1500, 2200, 2200, 1900,
       2200, 2300, 2300, 1900, 2200, 2200, 2200, 2200, 1900, 2200, 2200,
       2200, 1900, 1500, 1500, 2200, 1500, 1900, 2200, 2200, 2300, 1900,
       2200, 2200, 2200, 2300, 1900, 1900, 2300, 2200, 1900, 2200, 2200,
       2200, 1900, 1500, 1900, 1900], dtype=int64)

In [34]:
print( "Accuracy : " , accuracy_score( y_test , Predicted_Value_of_K_Neighbors_Classifier)*100 , "%" )

Accuracy :  45.0 %

In [52]:
import pickle
# open a file, where you ant to store the data
file = open('Support_Vector_Machine.pkl', 'wb')

# dump information to that file
pickle.dump(Support_Vector_Machine, file)